@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700');
body{
background:white;
padding: 0;
margin: 0;
font-family: 'Roboto Slab', serif;
}

img {
max-width:100%;
}

header .container-fluid {
    padding:0px;
}

header .navbar {
  margin-bottom:0px;
  background:#ffff;
  font-size:20px;
   }
   
   .navbar-default .navbar-nav > .active > a, 
   .navbar-default .navbar-nav > .active > a:focus, 
   .navbar-default .navbar-nav > .active > a:hover {
    color: #5C5C5C;
    background: #ffff;
}

.navbar-brand {
    padding: 10px 10px;
}
   
   .navbar-brand img {
    width: 45px;
}
.Settings {
    padding-top: 11px;
}
.Register {
    padding-top: 11px;
}
.imgs{
width:100%;  
}   
   
   .search {
   float:left;
   width:100%;
   padding-bottom: 40px;
margin-top: -56px;
   }
   
   
   .col-sm-5 {
    width: 41.66666667%;
    padding-right: 24px;
}
.col-xs-12.col-sm-5.spl{
position: relative;
min-height: 1px;
padding-right: 22px;
margin-left: -8px;
    padding: 0;
}

.search button{
width:100%;
}

/*Nearest Health Care*/
 
 
 .tab-new  h2{
  padding-top: 40px;
text-align:center; 
margin-bottom:12px;
color:#01579b;
}

	.carousel-caption {
    padding-bottom: 20%;
}

.request{
float:left;
width:100%;
font-size:50px;
text-align:center;
padding-bottom: 45px;
}

.request btn {
padding:20px 50px;
}

.btn-success {
    color: #fff;
    background-color: #afb42b;
    border-color: #9e9d24;
}
.big_button .btn{
font-size:25px;
width:35%;
margin-top:50px;
}

.best-doctors{
float:left;
width:100%;
text-align:center;
background: #f3f8f5;
margin:2% 0;
padding:5% 0;

}

.best-doctors h2{	
margin-bottom: 45px;
color:#01579b;
}
.best-doctors h3{	
color:#01579b;
}
.best-doctors h4{	
color:#03a9f4;
}

       /*Feedback*/
.feedback {	
float:left;
width:100%;
margin: 1% 0px;
padding: 2% 0;
}

.feedback h3{
color:#01579b;
padding-bottom:15px;
}

.feedback h5{
color:#03a9f4;
text-align:center;
}


.feedback p{
font-size:16px;
margin-top:17px;
padding:12px;
height:85px;
margin-left: -6px;
}

.feedback .feed1{
float:left;
margin-bottom:10px;
margin-right: -40px;
}

.btn.btn-success.btn-lg.bb {
    height: 34px;
text-align: center;
width: 83px;
min-height: 23px;
padding: 0;
font-size: 14px;
}


/*Footer*/

.footer {
	float: left;
	width: 100%;
	background: #53565a;
	margin: 2% 0;
	padding: 4% 0px;
	margin-bottom: 0 !important;
}

.footer p{
font-size:13px;
color:#fff;
}

.footer h3{
color:#fff;
}

.footer li {
list-style: outside none;
padding-bottom:5px;
color:#fff;
}

.footer li a {
color:#fff;
font-size:16px;
}

.footer .list1{

margin-top:20px;
}


 .footer .list{
padding: 0;
margin-top:35px;
}

.listing li{
padding-bottom:10px;
color:#616161;
font-size:18px;
}
.list .share{
font-size:22px;

}
.rights{
color:#fff;
margin-top: 56px;
font-size: 15px;
}


.nav-tabs {
	border-bottom: 1px solid #ddd;
	
margin-top: 40px;
}
.tab-new .nav-tabs > li {
	float: left;
	
	width: 112%;
}




.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
	color: #555;
	cursor: default;
	background-color: #f1ebeb;
	border: 1px solid #ddd;
	border-bottom-color: transparent;

}


.nav-tab li {
	margin-bottom: 15px;
}
.nav-tab li {
	margin-bottom: 15px;
	min-height: 12px;
	width: 46%;
	float: left;
	
	font-size: 18px;
	color: #555555;
	margin-left:29px;
	margin-top: 15px;
}
.nav-tabs > li > a {
	margin-right: 2px;
	line-height: 1.42857143;
	color: #5ab9f6;
	font-size: 18px;
}
.nav-tabs > li > a  i{
font-size:30px;
margin-right:9px;
}
.tab-content > .active {
	display: block;
	background: #f1ebeb;
	height: 290px;
	
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.modal-footer{
font-size:16px;
}

.fa.fa-address-book {
    font-size: 100px;
	color:blue;
	
}
.form-horizontal .form-group {
    font-size: 15px;
    margin-left: -5px;
    margin-right: 0;
}

.checkbox label, 
.radio label {
    cursor: pointer;
    font-size: 14px;
}
.form-group{
float:left;
width:100%;
}
.label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 17px;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top:none;
}
.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: right;
    font-size: 15px;
}
.modal-header h4{
text-align:center;
font-weight:600;
}


.medical-center-profile-view .modal-footer {
    padding: 15px;
    text-align: right;
    border-top: none;
    margin-top: 43px;
    border-top: 1px solid #ddd;
}

.modal label {
    font-size: 15px;
    font-weight: normal;
    padding-right: 0;
}

.form-group a{
    padding-left: 255px;
    font-size: 15px;
}
.checkbox1{
padding-left:95px;
}


/*User profile*/
.profile .btn-info {
 color: #fff;
 background-color: #5bc0de;
 border-color: #46b8da;
 float: right;
 margin-top:2px;
}
.profile .panel-info > .panel-heading {
 color: #31708f;
 background-color: #d9edf7;
 border-color: #bce8f1;
}
.profile .btn-info:hover {
 color: #fff;
 background-color: #31b0d5;
 border-color: #269abc;
 margin-top: -46px;
}
.profile .dropdown1, 
.profile .dropup {
 position: relative;
 float: right;
 margin-top: -23px;
 margin-right:6px;
 
}

.profile .img-responsive,
 .profile .thumbnail a > img,
 .profile .thumbnail > img {
    display: block;
    max-width: 62%;
    height: auto;
}

.profile .col-xs-12.panel.panel-info {
    margin-top: 50px;
}

/*Aspire Fertility Center Portion*/
.center{
width:100%;
    margin-top: 60px;
}
.left img {
   
 margin-top: 19px;
 margin-left: 0px;
}
 h4 {
    font-size: 13px;
}

.right button {
    float: right;
    background: #ffff;
    color: #afb42b;
    border: 1px solid #afb42b;
    font-size: 20px;
    margin-top: -43px;
    width: 30%;
    margin-right: -55px;
}
.right span i{
color:#afb42b;
}



/*Nav-tabs*/
.e-nav-tab.selected, .e-nav-tab.selected:hover, .e-nav-tab.selected:focus {    
color: #14bef0;  
background: #ffff;   
 border-top: 5px solid #D0D0DF;
 width:500%;
 }
 
.link {
 border-bottom: 0px solid #ddd;
margin-top: 10px;
}

.link  > li {
    background: #f1ebeb;
    color: #555;
    cursor: default;
    border: 0px solid #ddd;
    border-bottom-color: transparent;
	    		
}
.tt > .active {
	display: block;
background:none;
}
.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: blue;
    cursor: default;
    background-color: #ffff;
    border-top: 1px solid #ddd;
    border-bottom-color: transparent;
}


.link > li > a {
    
    line-height: 1.42857143;
    color: #555;
    font-size: 18px;
	padding: 13px 60px;
	
}
.text-center{
margin-right:-18px;
}

.text-center li {
    margin-top: -21px;
    margin-bottom: 30px;
    background: #f1ebeb none repeat scroll 0 0;
    margin-right: 1px;
    margin-left: -11px;
}

.about{
padding:2% 2%;
}

.about h1{
 font-size: 20px;
 padding:5px;
 font-weight: 500;
margin-bottom: 10px;
text-align: left;

}
.about p{
font-size:15px;
float:left;
padding:5px;
margin-bottom: 15px;
font-weight: 200;
text-align:justify;
width:100%;
}
.about span {
color:skyblue;
}

.control_margin {
    float: none;
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
}
.box {
    float: left;
    width:25%;	
}

.box3{
margin-top: 39px;
padding: 0px;
}

.three-boxes h5{
margin-bottom: 16px;
}

.tab_Doctors{
 border: 5px solid #ddd;
     margin: 40px 0;
    padding: 1% 1%;
}



/*Book appointment */
.appointment{
margin-top:-70px;
}
.appointment h4{
font-weight:600;
}

.center h5{
padding-bottom: 2%;
}
.info h3{
color:#01579b;
margin: 0;
}

.icons h5{
font-size:18px;
}

.icons span{
margin-left: 19px;
}
.icons{
margin: 0;
}

.table{
border:1px solid #cccc;
text-align:center;
font-size:17px;
}

.table span{
background:#cccc;
}
.table thead{
text-align:center;
}
.cc {
color:green;
}
.cons th{
margin-left: 19px;
}

.appointment .tb{
float:left;
background:#fff;
font-size:20px;
color:#afb42b;
border:1px solid #afb42b;
width:50%;
}


.bb{
margin-bottom: 21px;
width:180px;
font-size:17px;
}