
/*medical center dashboard custom style sheet*/
.medical-dashboard-header {
    float: left;
    width: 100%;
}
.medical-center-logo > img ,.profile-basic-info .image img{
    border: 1px solid #000;
    border-radius: 100%;
    float: left;
    height: 118px;
    padding: 4px;
    width: 124px;
}
.page-header {
    float: left;
    width: 100%;
    margin: 20px 0 22px!important;
}

.page-header  .medical-center-tagline .page-tagline h1{
    color: #000;
    font-size: 38px !important;
    margin-bottom: 11px;
    margin-top: 31px;
}

.side-nav {
    background: #aaa none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    height: 644px;
    left: 225px;
    margin-left: -225px !important;
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    top: 52px;
    width: 260px;
}


#wrapper {
    float: left;
    height: 650px;
    max-height: 100%;
    padding-left: 260px;
    width: 100%;
}
.medic-headder .logo img {
    float: left;
    height: 44px !important;
    width: 60% !important;

}
.profile-body.last-element{
    margin-bottom: 100px !important;
}
.side-nav li ul li:hover a:hover,
.side-nav li ul li:hover a:focus,
.side-nav li ul li:hover a:active {
    outline: none;
    background-color: #c82506 !important;
    color: #fff!important;
}
/* image preview on form css */

#preview {
    height: 180px;
    width: 180px;
    text-align: center;
    margin: 20px;
    display: none
}

.pre {
    margin-right: 20px;
    font-size: 13px
}

#previewimg {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom: 1px solid #e4d3c3;
    border-image: none;
    border-left: 1px solid #e4d3c3;
    border-radius: 100%;
    border-top: 1px solid #e4d3c3;
    float: left;
    height: 140px;
    margin-bottom: 5px;
    padding: 8px;
    width: 100%;
}
#doctor_previewimg {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-bottom: 1px solid #e4d3c3;
    border-image: none;
    border-left: 1px solid #e4d3c3;
    border-radius: 100%;
    border-top: 1px solid #e4d3c3;
    float: left;
    height: 250px;
    margin-bottom: 5px;
    padding: 8px;
    width: 100%;
}
#file {
    opacity: 0;
    width: 115px;
    height: 115px
}

.upload-section {
    padding: 0 33%;
}

#upload {
    background-image: url("img/abc.png");
    background-position: 0 center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 4px;
    box-shadow: 0 0 10px grey;
    cursor: pointer;
    height: 115px;
    margin-left: 35px;
    margin-top: 31px;
    width: 115px;
}

#message {
    width: 100%;
    font-size: 14px;
    color: #123456;
    margin-top: -90px;
    float: left;
    margin: 15px
}

#message span {
    color: red;
    font-size: 15px
}

#detail {
    line-height: 20px;
    float: left;
    width: 270px;
    font-size: 14px
}

ul {
    margin-left: -25px
}

#textmessage {
    float: right;
    width: 50%;
    margin: 15px 85px 0 0
}

div#img {
    width: 200px;
    height: 200px
}

#imageupload {
    width: 150px;
    height: 150px
}

#deleteimg {
    cursor: pointer;
    float: left;
    margin-right: 6px;
    margin-top: -1px;
    width: 21px;
}


/*profile page style*/
.medical-center-profile-view .panel-body {
    padding: 0!important;
}
.profile-headding {
    border-bottom: 1px solid #ccc;
    float: left;
    padding: 16px;
    width: 100%;
    /*margin-bottom: 12px;*/
}
.profile-basic-info {
    background: #ccc none repeat scroll 0 0;
    padding: 12px 0;
}
.profile-body {
    float: left;
    width: 100%;
}
.lightbox{

    z-index: 1041;

}

.small-img{

    height: 210px;
    width: 100%;

}

.modal-backdrop {

    position: absolute!important;
    z-index: -1!important;

}
.side-nav li , .side-nav li a{
    float: left!important;
    width: 100%!important;
}


/*!*Schedule days css*!*/
/*.weekDays-selector input {*/
    /*display: none!important;*/
/*}*/

/*.weekDays-selector input[type=checkbox] + label {*/
    /*display: inline-block;*/
    /*border-radius: 6px;*/
    /*background: #dddddd;*/
    /*height: 40px;*/
    /*width: 100px;*/
    /*margin-right: 3px;*/
    /*line-height: 40px;*/
    /*text-align: center;*/
    /*cursor: pointer;*/
/*}*/

/*.weekDays-selector input[type=checkbox]:checked + label {*/
    /*background: #2AD705;*/
    /*color: #ffffff;*/
/*}*/
.medical-center-subscription #admin-wrapper #admin-sidebar .side-nav{
    display: none;
}
.medical-center-subscription #header .custom-navi ul.navbar-nav li.dropdown.open ul.dropdown-menu > li{
    display: none!important;
}
.medical-center-subscription #header .custom-navi ul.navbar-nav li.dropdown.open ul.dropdown-menu > li:last-child{
    display: block!important;
}
.medical-center-subscription #admin-wrapper #admin-sidebar .side-nav1{
    display: block;
}
.side-nav1{
    display: none;
}
@-webkit-keyframes blinker {
    from { opacity: 1.0; }
    to { opacity: 0.0; }
}

.medical-center-subscription #admin-wrapper #admin-sidebar .side-nav1 .full-access{
    margin-top: 34px;
    margin-left: 24px;
    float: left;
    text-align: center;
    font-size: 39px;
    color: red;
    -webkit-animation-name: blinker;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: cubic-bezier(.5, 0, 1, 1);
    -webkit-animation-duration: 1.7s;
}


.panel-default > .custom-panel-heading {
    float: left;
    width: 100%;
    margin: 0 0 16px;
}
.booking-details p{
    float: left;
    width: 100%;
}
.booking-details p img#logo-img{
    float: left;
    width: 100%;
    border-radius: 4px;
    padding: 7px;
    border: 1px solid #000;
}

.primary{
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
    width: 100%;
    text-align: center;
    padding: 6px 0;
    border-radius: 4px;
    font-size: 18px;
}
.success{
    color: #fff;
    background-color: #449d44;
    border-color: #419641;
    width: 100%;
    text-align: center;
    padding: 6px 0;
    border-radius: 4px;
    font-size: 18px;
}
.warning{
    color: #fff;
    background-color: #ec971f;
    border-color: #eb9316;
    width: 100%;
    text-align: center;
    padding: 6px 0;
    border-radius: 4px;
    font-size: 18px;
}
.danger{
    color: #fff;
    background-color: #c9302c;
    border-color: #c12e2a;
    width: 100%;
    text-align: center;
    padding: 6px 0;
    border-radius: 4px;
    font-size: 18px;
}

#yourBtn {
    float: left;
    text-align: center;
    width: 100%;
}
.new-small-img {
    height: 100px;
    width: 100px;
}
.lightbox-dialog{
    max-height: 100%;
}

.panel {
    margin-bottom: 101px!important;

}

.plan-subscription-detail .plan-features {
    width: auto;
}
@media (min-width: 992px){
    .modal-lg {
        width: 80% !important;
    }
}